{% extends "login-layout.html" %}

{% block main %}

    <h1 class="text-center">Bookful</h1>    

    <h3 class="text-center mb-5">Account Register</h3>

    <form action="" method="post" class="mt-5">
        <div class="form-group">
            <label for="forename" class="d-none d-md-block">Forename</label>
            <input type="text" class="form-control" name="forename" placeholder="Forename" required>
        </div>

        <div class="form-group">
            <label for="surname" class="d-none d-md-block">Surname <em>(optional)</em></label>
            <input type="text" class="form-control" name="surname" placeholder="Surname (optional)">
        </div>

        <div class="form-group">
            <label for="username" class="d-none d-md-block">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>

        <div class="form-group">
            <label for="password" class="d-none d-md-block">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="password_confirmation" class="d-none d-md-block">Confirm Password</label>
            <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password" required>
        </div>

        <div class="form-group row pt-4">
            <input type="submit" class="col btn btn-success mr-1" value="Register">
            <a class="col btn btn-secondary ml-1" href="{{ url_for('login') }}">Login</a>
        </div>

        <small><a href="{{ url_for('index') }}">Return to homepage</a></small>
    </form>

{% endblock %}